* {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
    max-width: 100%;
}

html {
    font-size: 62.5%;
}

h1, h2, p, a {
    font-family: Lato, sans-serif;
}

body {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

/* ---------------- HEADER -------------------- */
header {
    height: 15vh;
    background-image: linear-gradient(#a3cef1, #6096ba);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

header h1 {
    margin-left: 3%;
    font-size: 4rem;
    font-weight: bold;
    font-style: italic;
}

.header_nav {
    width: 33%;
    margin-left: 4%;
    display:flex;
}

.header_nav a {
    text-decoration: none;
    color: black;
    font-size: 2em;
    border-radius: 3px;
    margin: 0.2em;
    background-image: linear-gradient(#e7ecef, #8b8c89);
    padding: 0.5em 1.5em;
}

/* ------------------------ ABOUT ME ---------------------- */

.about_me {
    width: 80%;
    height: 30vh;
    margin: auto;
    display:flex;
    justify-content: space-evenly;
}

.about_me img {
    border-radius: 5px;
    width: 35%;
}


.about_me div {
    width: 35%;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.about_me h2 {
    font-size: 3rem;
    font-weight: bold;
}

.about_me a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 2rem;
    border-radius: 3px;
    background-image: linear-gradient(#a3cef1, #6096ba);
    padding: 0.5em 1.5em;
    margin-top: 1em;
}

.about_me p {
    margin-top: 1em;
    font-size: 1.7rem;
    font-weight: 300;
}




/* ------------------------ CONTENT ----------------------- */
.content_row {
    width:80%;
    height: 30vh;
    margin: auto;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.project {
    width: 25%;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.project img {
    max-width: 100%;
    border-radius: 5px;
}

.project p {
    font-size: 1.7rem;
    font-weight: bold;
}

/* --------------------------- FOOTER ------------------------ */

footer {
    height:15vh;
    background-image: linear-gradient(#e7ecef, #8b8c89);
    display:flex;
    justify-content: space-around;
}

footer div {
    width:30%;
}

footer h2 {
    font-size: 3rem;
    text-align: center;
    margin: 0.5em;
}

.social nav {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.copyright {
display: flex;
justify-content: flex-end;
align-items: flex-end;
}

.copyright p {
margin: 1.5em;
font-size: 1.7rem;
}


.like_me a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    border-radius: 3px;
    background-image: linear-gradient(#a3cef1, #6096ba);
    padding: 0.5em 1.5em;
    display: block;
    margin: auto;
    width: fit-content;
}